


.differences-screenshot-wrapper
{
  display: flex;
  position: relative;
  width: 100%;
  border: 1px solid grey;

  .differences-screenshot
  {
    width: 100%;
  }

  .differences-video
  {
    width: 100%;
  }

  .difference-box
  {
    position: absolute;
    border: 1px solid black;
    opacity: 0.2;

    &.hilighted
    {
      opacity: 0.4;
    }

    &.suppressed
    {
      opacity: 0.05;
    }
  }

  .changed_text
  {
    background: yellow;
  }

  .deleted_text
  {
    background: red;
  }

  .added_text
  {
    background: green;
  }
}

.difference-viewer-control-button
{
  margin: 10px 10px;
  min-width: 24px;
  padding: 5px;
}

.difference-viewer-frame-indicator
{
  position: relative;
  top: 8px;
}

.difference-viewer-control-buttons-wrapper
{
  width: 100%;
  display: flex;
  justify-content: center;
}

.difference-row
{
  display: flex;
  flex-direction: row;

  margin-top: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  margin-right: -15px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;

  width: 100%;
  height: 100%;

  .duplicate-icon-wrapper
  {
    margin-right: 10px;
  }

  &.selected
  {
    background-color: #999;
  }

  &.hilighted
  {
    background-color: #ccc;
  }

  &.suppressed
  {
    opacity: 0.5;
  }
}
