server/node_modules
.idea
server/package-lock.json
server/venv
*.egg-info
*__pycache__*
client/node_modules
.DS_Store
./venv
venv/*
client/build
.vscode
server/dist
kwola_run_0**
server/kwola_run_0**
package-lock.json
server/data
