

.frame-sprite-wrapper
{
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.frame-sprite-image
{
  width: 100px;
  position: absolute;
  left: 0;
}

.hilighted-bug-row
{
  background-color: #ff6666;
  &:hover
  {
    background-color: #ff0000 !important;
  }
}

