

.bug-details-grid
{
  display: grid;
  grid-template-columns: auto auto;


  .bug-detail-label
  {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;

    &.bug-detail-select-label
    {
      position: relative;
      top: 6px;
    }

    &.bug-detail-browser-label
    {
      position: relative;
      top: 4px;
    }
  }

  .bug-detail-value
  {
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .bug-message-label
  {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;

    &.export-bug-label
    {
      position: relative;
      top: 22px;
    }
  }
}

.bug-info-tabs-area
{
  margin-top: 15px;
  margin-bottom: 15px;
}

.bug-message-area
{
  font-size: 11px;
  font-family: monospace;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  white-space: pre-wrap;
  word-break: break-all;
}



.video-control-button
{
  margin-left: 5px;
  margin-right: 5px;
}


.reproducible-widget
{
  font-size: 24px;

  .successful-reproduction
  {
    span {
      margin-left: 10px;
    }
  }

  .failed-reproduction
  {
    span {
      margin-left: 10px;
    }
  }
}

.no-jira-modal
{
  position: absolute;
  width: 400px;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  border: 1px solid #e5e5e5;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  padding: 32px;
}