

.days-of-month-selector
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .week-row
  {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }

  .day-button
  {
    width: 75px;
    text-transform: none;

    &.disabled {
      pointer-events: all;
      cursor: not-allowed;
    }
  }
}
