/*scss file*/
.MuiAppBar-root.MuiAppBar-positionFixed {
  background: #f48847 !important; }

.kwola_title {
  font-size: 21px;
  font-weight: 400;
  color: #212121;
  margin: 0; }

.fontSizeSmall {
  font-size: 18px;
  padding: 0 5px 0 5px;
  margin-bottom: -2px; }
